.header-img {
    min-height: 350px;
    padding: 125px 0;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #000000;
}
.about-header {
    background-image: url(../img/about-salon-header.png);
}
.masters-header {
    background-image: url(../img/masters-header.png);
}
.interior-header {
    background-image: url(../img/interior-header.png);
}
.salons-header {
    background-image: url(../img/salon-header.png);
}
.page-header {
    font-size: 70px;
    color: #ffffff;
    border: 0;
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
.side-ul>li>a,
.side-ul>li {
    text-transform: uppercase;
    font-weight: bold;
}
.side-ul>li.active,
.side-ul>li>a:hover {
    color: #FD638A;
}
ol.breadcrumb {
    background: none;
}
ol.breadcrumb>li.active,
ol.breadcrumb>li>a {
    color: #ffffff;
}
.banner {
    padding-top: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.main-content-sect {
    padding: 30px 0;
    margin: 20px 0;
}
/*----- common -----*/

/*----- salons -----*/
.map-container {
    width: 100%;
    height: 300px;
}
/*----- salons -----*/